#container{ width: 1600px; height: 500px;
  display:grid; grid-template-columns: 1fr 1fr 1fr;

}
.item-1{text-align: center;}

.function-1{color: #070211;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;}

.img-1{background-image: url('images/Rectangle\ 2.png');
background-repeat: no-repeat;
background-position: bottom; }